.box {
  width: 200px; }

ul {
  list-style: none; }
  ul li {
    float: left; }
    ul li div {
      margin: 10px; }
    ul li p {
      margin: 20px; }

.box9 {
  background: map-value((a: url(a.png), b: url(b.png))); }

.box11 {
  width: 105px; }
